AUTOCOMPLETE=qwant
CATEGORIES_AS_TABS=general,images,videos
DEFAULT_LANGUAGE=en-US
DEFAULT_LOCALE=en
ENGINES=brave,duckduckgo,google,mojeek,yahoo,brave.images,duckduckgo images,google images,mojeek images,brave.videos,dailymotion,duckduckgo videos,peertube,qwant videos,rumble,youtube
FORMATS=html
PLUGINS=oa_doi_rewrite,tracker_url_remover
PREFERENCES_LOCK=language
SECRET_KEY=
URL_FORMATTING=full
